@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: 'Inter', system-ui, sans-serif;
    @apply bg-white text-gray-900 antialiased;
  }

  h1, h2, h3, h4 {
    @apply font-semibold;
  }
}

@layer utilities {
  .section-scroll-mt {
    scroll-margin-top: 64px;
  }
}
